@using WbSoftwareWebProject.Entities.ValueObjectModel
@model ForgetPasswordViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welat BARAN Admin - Şifremi Unuttum</title>

    <!-- Favicons -->
    <link href="~/Content/images/logo.png" rel="icon">

    <link href="~/Content/Admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/Admin/css/styles.css" rel="stylesheet">
</head>
<body>
    @using (Html.BeginForm("ForgetPassword", "Admin", FormMethod.Post))
    {
        <div class="row" style="margin-top:50px">
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading text-center">Yeni Şifre Gönderme Sayfası</div>
                    @Html.ValidationSummary(false)
                    <div class="panel-body">
                        @if (ViewBag.Message != null)
                        {
                            <strong>@ViewBag.Message</strong>
                        }
                        <div class="form-group">
                            <input class="form-control" placeholder="E-mail" name="Email" type="email" autofocus="" required>
                        </div>
                        <button type="submit" class="btn btn-primary" title="Şifre Gönder"><i class="glyphicon glyphicon-send mr-2"></i> Şifre Gönder</button>
                    </div>
                </div>
            </div><!-- /.col-->
        </div><!-- /.row -->
    }



    <script src="~/Content/Admin/js/jquery-1.11.1.min.js"></script>
    <script src="~/Content/Admin/js/bootstrap.min.js"></script>
</body>
</html>
