
<div class="row">
    <div class="form-horizontal">
        <div class="col-md-12">

            <input type="text" name="ProjectsId" id="ProjectsId" value="@ViewBag.ProjectId" hidden />
            <div class="form-group">
                <span>Ad Soyad</span>
                <div class="col-md-10 col-offset-1">
                    <input type="text" name="NameAndSurname" id="NameAndSurname" class="form-control" required />
                </div>
            </div>
            <div class="form-group">
                <span>şirket/Kurum</span>
                <div class="col-md-10 col-offset-1">
                    <input type="text" name="Company" id="Company" class="form-control" required />
                </div>
            </div>
            <div class="form-group">
                <span>Unvan</span>
                <div class="col-md-10 col-offset-1">
                    <input type="text" name="Degree" id="Degree" class="form-control" required />
                </div>
            </div>
            <div class="form-group">
                <span>Konu</span>
                <div class="col-md-10 col-offset-1">
                    <input type="text" name="Subject" id="Subject" class="form-control" required />
                </div>
            </div>
            <div class="form-group">
                <span>Yorum Yaz</span>
                <div class="col-md-10 col-offset-1">
                    <textarea name="Comment" id="Comment" class="form-control" rows="7" cols="5" required></textarea>
                </div>
            </div>
            <div class="form-group">
                <span>Email</span>
                <div class="col-md-10 col-offset-1">
                    <input type="email" name="Email" id="Email" class="form-control" required />
                </div>
            </div>
            <div class="form-group">
                <span>Website</span>
                <div class="col-md-10 col-offset-1">
                    <input type="text" name="Website" id="Website" class="form-control" required />
                </div>
            </div><br />
            <div class="form-group">
                <div class="col-md-12 text-right">
                    <button type="button" class="btn btn-success" title="Kaydet" onclick="doComment(this)"><span class="glyphicon glyphicon-floppy-saved"></span> Kaydet</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.0.0.min.js"></script>
<script src="~/Scripts/custom_references.js"></script>