.validation-summary-errors {
    border: 2px dotted #d42525;
    background-color: #ee7171;
    border-radius: 8px;
    margin-bottom : 8px;
}

    .validation-summary-errors ul {
        list-style-type: none;
        padding: 10px;
        color: #ffffff;
    }
