@using WbSoftwareWebProject.UI.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welat BARAN - Admin</title>

    <!-- Favicons -->
    <link href="~/Content/images/logo.png" rel="icon">
    <link href="~/Content/Personal/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <link href="~/Content/Admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/Admin/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/Admin/css/datepicker3.css" rel="stylesheet">
    <link href="~/Content/Admin/css/styles.css" rel="stylesheet">

    <link href="~/Content/validation-summary.css" rel="stylesheet" />
    <!--Custom Font-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

</head>
<body>
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Admin/Index"><span>Welat BARAN</span>Admin</a>
            </div>
        </div><!-- /.container-fluid -->
    </nav>
    <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
        <div class="profile-sidebar">
            <div class="profile-userpic">
                <img src="~/Content/images/@CurrentSession.User.ProfileImage" class="img-responsive" alt="">
            </div>
            <div class="profile-usertitle">
                <div class="profile-usertitle-name">@CurrentSession.User.Email</div>
                <div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="divider"></div>

        <ul class="nav menu">
            <li class="active"><a href="/Admin/Index"><em class="fa fa-dashboard">&nbsp;</em> Dashboard</a></li>
            <li><a href="/About/Index"><em class="fa fa-address-card">&nbsp;</em> Hakkımızda</a></li>
            <li><a href="/Resume/Index"><em class="fa fa-user">&nbsp;</em> Özgeçmiş</a></li>
            <li><a href="/Services/Index"><em class="fa fa-th-list">&nbsp;</em> Hizmet Alanları</a></li>
            <li><a href="/Projects/Index"><em class="fa fa-hourglass">&nbsp;</em> Projeler</a></li>
            <li><a href="/References/Index"><em class="fa fa-certificate">&nbsp;</em> Referanslar</a></li>
            <li><a href="/Contact/Index"><em class="fa fa-phone">&nbsp;</em> İletişim</a></li>
            <li><a href="/Admin/ResetPassword"><em class="fa fa-key">&nbsp;</em> Şifre Değiştir</a></li>
            <li><a href="/Admin/LogOut"><em class="fa fa-power-off">&nbsp;</em> Logout</a></li>
        </ul>
    </div><!--/.sidebar-->

    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
        <div class="row">
            <ol class="breadcrumb">
                <li>
                    <a href="/Admin/Index" title="Anasayfa">
                        <em class="fa fa-home"></em>
                    </a>
                </li>
                <li class="active">@Html.ViewContext.RouteData.GetRequiredString("controller")</li>
            </ol>
        </div><!--/.row-->

        @RenderBody()

    </div>	<!--/.main-->

    <script src="~/Content/Admin/js/jquery-1.11.1.min.js"></script>
    <script src="~/Content/Admin/js/bootstrap.min.js"></script>
    <script src="~/Content/Admin/js/chart.min.js"></script>
    <script src="~/Content/Admin/js/chart-data.js"></script>
    <script src="~/Content/Admin/js/easypiechart.js"></script>
    <script src="~/Content/Admin/js/easypiechart-data.js"></script>
    <script src="~/Content/Admin/js/bootstrap-datepicker.js"></script>
    <script src="~/Content/Admin/js/custom.js"></script>
    <script>window.onload = function () {
	var chart1 = document.getElementById("line-chart").getContext("2d");
	window.myLine = new Chart(chart1).Line(lineChartData, {
	responsive: true,
	scaleLineColor: "rgba(0,0,0,.2)",
	scaleGridLineColor: "rgba(0,0,0,.05)",
	scaleFontColor: "#c5c7cc"
	});
};</script>

</body>
</html>